// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.green {
  background-color: #8ee364;
}

.yellow{
  background-color: #e8d758;
}

.orange {
  background-color: #eb8d3b;
}

.red {
  background-color: #e6281e;
}

.purple {
  background-color: #8736e3;
  ;
}

.maroon {
  background-color:	#800000;
}

.gray {
  background-color: silver;
}
